<div class='navigation-bar-fantacazzo'> 
 <nav>
      <a routerLink="/dashboard" routerLinkActive="active">Home</a>
      <a routerLink="/bets" routerLinkActive="active">Scommesse</a>
      <a routerLink="/teams" routerLinkActive="active">Squadre</a>
      <a routerLink="/logout" routerLinkActive="active">Logout</a>
    </nav>
</div>
 