
.navigation-bar-fantacazzo{
	background-color: #000220;
}

/* Navigation link styles */
nav a {
  padding: 9px 9px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;

  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}