.bet-input {
	width: 30%;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.info-label {
	float:right;
	background-color: #00FF55;
	padding:0.3em;
/* 	margin-left:2em; */
}

.bet-btns {
	margin-top:5em;
	clear:both;
	
}

.bet-floating-left {
	float:left;
}

.bet-floating-right {
	float:right;
}
.puntata-container {
	width:70%;
		padding:2em;
	
}

.status-label{
	font-size:10px;
	font-style: italic;
	float:right;
}
.bootstrap-resize-btn {
	font-size: 10px;
}

.puntata-pending{
	background-color : #FDEC53;
}

.puntata-lost{
		background-color : #F97F7F;
	
}

.puntata-won{
		background-color : #6DFF77;
	
}

.puntata{

}