
<div *ngIf="players else no_team_logged">
	<div *ngIf="betSelected">

		<div class
			*ngIf="loggedUser && user.id === loggedUser.id && puntata.status === 'pending' else view_content">
			<div [class.info-label]='info'>{{info}}</div>
			<div class="my-puntata puntata-container"
				[class.puntata-pending]="puntata.status === 'pending'"
				[class.puntata-won]="puntata.status === 'won'"
				[class.puntata-lost]="puntata.status === 'lost'">
				<span class="bet-floating-left"><label>Marcatore</label><select
					class=" form-control" [compareWith]="byId"
					[(ngModel)]="puntata.player">
						<option *ngFor="let player of players" [ngValue]="player">{{player.name}}
						</option>
				</select> </span> <span class='bet-floating-right'><label>Gol
						Scommessi: </label><input type="number" class=" form-control"
					[(ngModel)]="puntata.nGol" value={{puntata.nGol}} /> </span>
				<div class="bet-btns">
					<button class="bet-floating-right btn btn-info btn-circle "
						*ngIf="betSelected.puntate.length < 2" (click)="addPuntata()">
						+</button>
					<button class="btn btn-danger bootstrap-resize-btn"
						(click)="deletePuntata()">Elimina</button>
					<button class="btn btn-success bootstrap-resize-btn"
						(click)="updatePuntata()">Modifica</button>
					<br />
				</div>
				<br /> <span class="status-label">{{puntata.status}}</span>
			</div>
			<br />

		</div>

		<ng-template #view_content>
		<div *ngIf="puntata">
			<div class="puntata-container"
				[class.puntata-pending]="puntata.status === 'pending'"
				[class.puntata-won]="puntata.status === 'won'"
				[class.puntata-lost]="puntata.status === 'lost'">
				<label>Marcatore </label> {{puntata.player.name}} -
				{{puntata.player.ruolo}} <br /> <label>Gol Scommessi: </label>
				{{puntata.nGol}} <span class="status-label">{{puntata.status}}</span>
			</div>

		</div>
		</ng-template>

	</div>
</div>

<ng-template #no_team_logged>
 <div *ngIf = "no_logged_team !== ''">
<p>{{no_logged_team}}</p>
<button (click) = "gotoTeams()" class= "btn btn-primary">Crea squadra</button>
 </div>
</ng-template>




