
<h3>Gol segnati questa settimana</h3>
<ul>
<li *ngFor = "let player of players">
	 {{player.name}}:
	 Gol segnati:
	 <input  type="number"  [(ngModel)]="player.goals" >
</li>
</ul>

<div class='center'>
	<button (click)="goToDashboard()" class='btn btn-danger' > Indietro</button>
	<button (click)="validateBets()" class='btn btn-success'>Salva</button>
</div>

<br>
{{info}}
