<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    
    <div *ngIf="message && message.level == 'error'" [ngClass] = "'alert alert-danger'"> {{message.text}} </div> 
    
    <div *ngIf="message && message.level == 'success'" [ngClass] = "'alert alert-success'">
    		{{message.text}}
    		 
    </div>
    
    <form [formGroup]="myForm" (ngSubmit)="f.form.valid && register(myForm.value)" #f="ngForm" novalidate>
	     
	     <div class="form-group">
	           <label for="firstName">Nome</label>
	           <input type="text" class="form-control" id="firstName" 
	               [formControl]="myForm.controls['firstname']"/>
	               
	           <div *ngIf="f.submitted && myForm.controls['firstname'].hasError('required')" class="alert alert-danger">Nome obbligatorio</div>
	     </div>
	     
	     <div class="form-group">
	           <label for="lastName">Cognome</label>
	           <input type="text" class="form-control" id="lastName" 
	               [formControl]="myForm.controls['lastname']"/>
	               
	           <div *ngIf="f.submitted && myForm.controls['lastname'].hasError('required')" class="alert alert-danger">Cognome obbligatorio</div>
	     </div>
	     
	     <div class="form-group">
	           <label for="userName">Username</label>
	           <input type="text" class="form-control" id="userName" 
	               [formControl]="myForm.controls['username']"/>
	               
	           <div *ngIf="f.submitted && myForm.controls['username'].hasError('required')" class="alert alert-danger">Username obbligatoria</div>
	     </div>
	     
	     <div class="form-group">
	            <label for="passWord">Password</label>
	            <input type="password" class="form-control" id="passWord" 
	            	[formControl]="myForm.controls['password']"/>
	            	
	            <div *ngIf="f.submitted && myForm.controls['password'].hasError('required')" class="alert alert-danger">Password obbligatoria</div>
	     </div>
	     
	     <div class="form-group">
            <button class="btn btn-primary" >Register</button>
         </div>
        
         <!--    <p>Form status: {{ myForm.status | json}}</p>  -->
       
    </form>
     
</div>
