<div *ngIf="loggedUser else no_logged">

	<div *ngFor="let bet of bets">

		<div class="bet">

			<div *ngIf="bet && bet.puntate.length > 0">

				Bet #{{bet.id}} di {{bet.user.firstName}}
				<ul>
					<div class="bet-container" *ngFor="let puntata of bet.puntate">
						<div *ngIf=" loggedUser">
							<app-puntata-details [loggedUser]="loggedUser"
								[puntata]="puntata" [user]="bet.user" [betSelected]="bet"
								(updateBetEvent)='updateTrigger($event)'
								(deleteBetEvent)='deleteTrigger($event)'></app-puntata-details>
						</div>
					</div>
				</ul>
			</div>
		</div>

	</div>

	<button class="btn btn-primary margined" (click)="goToAdd()"
		*ngIf="(loggedUser && !isThereUserLoggedBet()) ">Fai la tua
		scommessa</button>

	<br /> {{info}}


</div>

<ng-template #no_logged>
<div *ngIf = "no_logged_user !== ''">
<p>{{no_logged_user}}</p>
<button (click)="gotoLogin()" class="btn btn-primary">Login</button>
</div>
</ng-template>
