<app-navbar></app-navbar>
<!-- main app container -->
<div class="jumbotron">
    <div class="container">
    
    <!--  
    <nav>
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/bets" routerLinkActive="active">Bets</a>
      <a routerLink="/teams" routerLinkActive="active">Teams</a>
      <a routerLink="/logout" routerLinkActive="active">Logout</a>
    </nav>
    -->
    
        <div class="col-sm-8 col-sm-offset-2">
            <h1 id="title">
    			{{title}}
  			</h1>
  			<router-outlet></router-outlet>
        </div>
    </div>
</div>

