
<div *ngIf = "user">

  <h4>Welcome, {{user.role}} {{user.firstName}}</h4>
	<br>
	<br>
	
	<button (click)="teams()" class ="btn btn-primary btn-lg">teams</button>
	<button (click)="goToBets()" class ="btn btn-primary btn-lg">bets</button>

	<br>
	<br> 


	<div c *ngIf="user.role == 'admin'" >
		<br> 
		<button class ="btn btn-lg btn-warning" (click)="goToAdminArea()">carica pagella</button>
		<br> 
	</div>
	


</div>