<div class="col-md-6 col-md-offset-3">
    <h2>Login</h2>
    
    <div *ngIf="message && message.level == 'error'" [ngClass] = "'alert alert-danger'"> {{message.text}} </div> 
    
    <form [formGroup]="myForm" (ngSubmit)="f.form.valid && login(myForm.value)" #f="ngForm" novalidate>
	     
	     <div class="form-group">
	           <label for="userName">Username</label>
	           <input type="text" class="form-control" id="userName"  
	               [formControl]="myForm.controls['username']"/>
	               
	           <div *ngIf="f.submitted && myForm.controls['username'].hasError('required')" class="alert alert-danger">Username obbligatoria</div>
	     </div>
	     
	     <div class="form-group">
	            <label for="passWord">Password</label>
	            <input type="password" class="form-control" id="passWord" 
	            	[formControl]="myForm.controls['password']"/>
	            	
	            <div *ngIf="f.submitted && myForm.controls['password'].hasError('required')" class="alert alert-danger">Password obbligatoria</div>
	     </div>
	     
	     <div class="form-group">
            <button class="btn btn-primary" >Login</button>
            <a class="btn btn-info" (click)="register();">Register</a>
         </div>
        
       <!--   <p>Form status: {{ myForm.status | json}}</p>  -->
       
    </form>
</div>
